:root{
    background-color: #f0c9ea;
    font-family: 'Segoe UI', Arial, Helvetica, sans-serif;
}
.pink-font{
    color: #EA1D90;
}
.orkut-link,
.orkut-font-color{
    color: rgb(201, 80, 175)
}
.orkut-button-bg{
    background-color: #EA1D90;
    cursor: pointer;
}
.orkut-link{
    text-decoration: none;
    font-weight: 500;
}